<!DOCTYPE html>
<%- include('../partials/head'); %>
<body class="container">
  <%- include('../partials/header', {page: 'About'}); %>
  <main>
      <div class="jumbotron">
        <h1>About me</h1>
        <p>Hi I'm Gabriel, I'm a frontend developer!</p>
      </div>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>